:root {
  --border-radius-200: 2px;
  --border-radius-300: 3px;
  --border-radius-500: 4px;
  --color-background--100: #000;
  --color-background--300: #171a1c;
  --color-background--500: #22282c;
  --color-primary: #ffffff;
  --color-primary--500: #fca73f;
  --color-primary--700: #d27503;
  --color-secondary: #9a9ea3;

  --color-tertiary--200: #d5cefd;
  --color-tertiary--300: #b2b2fa;
  --color-tertiary--400: #837cc7;
  --color-tertiary--500: #6f6bc2;
  --color-tertiary--600: #484592;
  --color-tertiary--700: #373473;
  --color-tertiary--800: #1e1c3f;

  --color-surface--500: #faf2e6;
  --color-surface--600: #e0d8cc;

  --color-accent0--500: #ffffff;

  --color-accent1--400: #85a2fa;
  --color-accent1--500: #668cff;
  --color-accent1--600: #5275e0;
  --color-accent1--700: #475fa8;
  --color-accent1--800: #354880;

  --color-accent2--400: #54e8b1;
  --color-accent2--500: #19e197;
  --color-accent2--600: #23c78a;
  --color-accent2--700: #089b76;
  --color-accent2--800: #007054;

  --color-accent3--300: #e4cefd;
  --color-accent3--400: #d4b2fb;
  --color-accent3--400: #bc8fef;
  --color-accent3--500: #9256d7;
  --color-accent3--600: #9256d7;
  --color-accent3--700: #785b99;
  --color-accent3--800: #362649;

  --color-accent4--400: #ff576d;
  --color-accent4--500: #ff3a54;
  --color-accent5--500: #fca73f;

  --color-on-accent1: var(--color-background--100);
  --color-on-background: #fff;
  --color-on-surface: hsl(236, 18%, 30%);
  --nominal-gap: 4px;
  --nominal-size: 3.33rem;
}

/* Disable long-press callout menu (Safari) */
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
}

body {
  position: fixed;
  touch-action: none; /* Prevents touch scroll/zoom gestures */
  overscroll-behavior: none; /* Prevents overscroll bounce on mobile */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.game {
  overflow: hidden; /* Prevents scrollbars */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  min-width: 128px;
  max-width: 720px;
  width: 512px;
  background-color: #0b0630;
  aspect-ratio: 1;
}

.controls {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.controls-left {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 4rem;
  padding-bottom: 4rem;
  display: flex;
  gap: 0.2rem;
}

.controls-right {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 4rem;
  padding-bottom: 4rem;
}

.controls button {
  background-color: var(--color-surface--500);
  border-radius: var(--border-radius-500);
  border-color: transparent;
  color: var(--color-on-surface);
  display: inline-block;
  letter-spacing: 0.1em;
  line-height: 1.15;
  font-size: 1rem;
  height: var(--nominal-size);
  width: var(--nominal-size);
  padding: 0.3rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s, color 0.2s, transform 0.1s ease;
}

/* This add the round elevation on the button. Making it look crazy nice.*/
.controls button::before {
  border-radius: 50%;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.2);
  content: "";
  display: flex;
  height: 85%;
  left: 7.5%;
  position: absolute;
  top: 7.5%;
  width: 85%;
}

/* Button pressed state - scale down to 0.9 */
.controls button.pressed {
  transform: scale(0.9);
  background-color: var(--color-surface--600);
}

/* Mobile portrait */
@media (max-width: 960px) and (orientation: portrait) {
  .game {
    flex-direction: column;
    justify-content: flex-start;
  }
  canvas {
    width: 24rem;
  }
  .controls {
    display: block;
  }
}

/* Mobile landscape */
@media (max-width: 960px) and (orientation: landscape) {
  canvas {
    width: 100%;
  }
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex: 1;
    align-self: flex-end;
    padding-bottom: 4rem;
  }
}

.crt-container {
  position: relative;
  display: flex;
}

.crt {
  clip-path: url(#path);
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size: 100% 3px, 4px 100%;
  pointer-events: none;
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
